.header {
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 1.9rem;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav .itemMenu {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 4px 12px;
  transition: all 0.3s;
}

.nav .itemMenu:hover {
  background-color: #032437;
  color: aqua;
  border-radius: 20px;
}

.link:hover {
  text-decoration: underline;
}

.pointsContainer {
  display: flex;
  align-items: center;
  border: 2px solid grey;
  padding: 5px 22px;
  border-radius: 20px;
}

.points {
  color: gold; /* Cor da quantidade de pontos */
  font-weight: bold;
  margin-right: 5px; /* Espaçamento entre a quantidade de pontos e a imagem */
}

.trophyIcon {
  width: 30px; /* Largura da imagem da moeda */
  height: auto; /* Altura ajustável */
}
