.footer {
    padding: 60px 0;
    background: linear-gradient(90deg, #1e4c67, #032437);
    border-top: 2px solid rgba(128, 128, 128, 0.446);
}

.footer .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
}

.footer .container .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.footer .container .navigation p {
    text-align: center;
    width: 600px;
    margin: 0 auto 30px;
}

.footer .container .navigation h3 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #DDA15E;
}

.footer .container .navigation nav ul {
    display: flex;
    gap: 60px;
}

.footer .container .members {
    display: flex;
    justify-content: space-around;
    color: white;
}

.footer .container .members .membersIndividual {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #032437;
    padding: 8px 15px;
    border-radius: 8px;
    width: 30%;
}

.footer .container .members .membersIndividual img {
    width: 70px;
    height: 70px;
    border: 2px solid grey;
    padding: 2px;
    border-radius: 30px;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid rgba(128, 128, 128, 0.446);
}

@media (max-width: 1200px) { 
    .footer .container {
        width: 100%;
    }

    .footer .container .members {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
 }

/* Media Queries */
@media (max-width: 768px) {
    .footer .container {
        width: 90%;
    }

    .footer .container .navigation p {
        width: 100%;
    }

    .footer .container .members .membersIndividual {
        width: 100%;
    }
}